In [84]:
import pandas as pd

In [85]:
filename = '../DATA/시도별 전출입 인구수.xlsx'

In [86]:
migrationDF = pd.read_excel(filename)

In [87]:
migrationDF.set_index(['전출지별', '전입지별'], inplace = True)

In [88]:
migrationDF.index

MultiIndex([('전출지별',    '전입지별'),
            (  '전국',      '전국'),
            (   nan,   '서울특별시'),
            (   nan,   '부산광역시'),
            (   nan,   '대구광역시'),
            (   nan,   '인천광역시'),
            (   nan,   '광주광역시'),
            (   nan,   '대전광역시'),
            (   nan,   '울산광역시'),
            (   nan, '세종특별자치시'),
            ...
            (   nan, '세종특별자치시'),
            (   nan,     '경기도'),
            (   nan,     '강원도'),
            (   nan,    '충청북도'),
            (   nan,    '충청남도'),
            (   nan,    '전라북도'),
            (   nan,    '전라남도'),
            (   nan,    '경상북도'),
            (   nan,    '경상남도'),
            (   nan, '제주특별자치도')],
           names=['전출지별', '전입지별'], length=325)

In [89]:
# 가나다순으로 전입지별 정렬
migrationDF.sort_index(axis = 0, level = 1, inplace = True)

In [90]:
migrationDF

             1970    1971    1972    1973    1974    1975    1976    1977  \
전출지별 전입지별
NaN  강원도   160959  183964  161637  241663  184385  326365  239946  246070
     강원도     9352   12885   13561   16481   15479   27837   25927   25415
     강원도     2090    2291    2062    2356    2291    5100    4485    4877
     강원도        -       -       -       -       -       -       -       -
     강원도        -       -       -       -       -       -       -       -
...           ...     ...     ...     ...     ...     ...     ...     ...
     충청북도    1184    1463    1359    1181    1197    3096    1903    1781
     충청북도    1277    1108    1205    1108    1322    3300    1933    1869
     충청북도    5155    5340    4498    4759    4705    9232    7633    7221
     충청북도    1346    1246    1403    1012    1208    2650    2267    2023
     충청북도      42      59     116      82     115     185     205     128

             1978    1979  ...    2008    2009    2010    2011    2012  \
전출지별 전입지별                  ...
NaN  강원도   264577  233897  ...  252193  249191  241738  236077  225896
     강원도    26700   27599  ...   23668   23331   22736   23624   22332
     강원도     5563    5145  ...    2452    2378    2569    2548    2130
     강원도        -       -  ...    1996    1942    2039    1843    1807
     강원도        -       -  ...    6033    5866    5808    5695    5339
...           ...     ...  ...     ...     ...     ...     ...     ...
     충청북도    1717    1326  ...    2204    1979    2216    2179    1997
     충청북도    1929    1641  ...    1407    1390    1345    1411    1317
     충청북도    7163    7063  ...    4343    4353    4290    4129    4191
     충청북도    2353    3086  ...    2424    2365    2407    2327    2187
     충청북도     138     185  ...     519     475     478     518     484

             2013    2014    2015    2016    2017
전출지별 전입지별
NaN  강원도   217917  228369  227125  223484  211653
     강원도    20601   21173   22659   21590   21016
     강원도     2158    2085    2305    2104    2221
     강원도     1820    1884    1884    1748    1657
     강원도     5573    5549    5904    5598    5396
...           ...     ...     ...     ...     ...
     충청북도    1939    2256    2271    2159    2195
     충청북도    1200    1336    1442    1472    1480
     충청북도    3927    4112    4225    4141    4044
     충청북도    2073    2353    2464    2570    2219
     충청북도     433     546     621     726     754

[325 rows x 48 columns]

In [32]:
migrationDF.index

MultiIndex([(nan,  '강원도'),
            (nan,  '강원도'),
            (nan,  '강원도'),
            (nan,  '강원도'),
            (nan,  '강원도'),
            (nan,  '강원도'),
            (nan,  '강원도'),
            (nan,  '강원도'),
            (nan,  '강원도'),
            (nan,  '강원도'),
            ...
            (nan, '충청북도'),
            (nan, '충청북도'),
            (nan, '충청북도'),
            (nan, '충청북도'),
            (nan, '충청북도'),
            (nan, '충청북도'),
            (nan, '충청북도'),
            (nan, '충청북도'),
            (nan, '충청북도'),
            (nan, '충청북도')],
           names=['전출지별', '전입지별'], length=325)

In [40]:
migrationDF2 = migrationDF.xs('서울특별시', level =1)

In [41]:
migrationDF2

,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
전출지별,,,,,,,,,,,,,,,,,,,,,
NaN,1742813,1671705,1349333,1831858,2050392,3396662,2756510,2893403,3307439,2589667,...,2025358,1873188,1733015,1721748,1555281,1520090,1573594,1589431,1515602,1472937
NaN,1232619,1158556,985945,1345508,1511726,2401970,2041724,2212213,2518286,1883742,...,1426213,1286855,1199708,1215122,1069300,1053008,1098023,1129529,1061915,1018807
NaN,24263,30144,18260,24251,30284,59914,43416,42685,48142,39673,...,25249,24459,23116,23016,21437,19621,20616,19441,19236,19460
NaN,-,-,-,-,-,-,-,-,-,-,...,14824,15469,13915,13310,13838,13673,13735,13038,12802,13011
NaN,-,-,-,-,-,-,-,-,-,-,...,40479,38858,35670,33008,32216,33017,34380,33570,32486,32528
NaN,-,-,-,-,-,-,-,-,-,-,...,14708,14035,12642,11917,11811,10964,11518,10860,10432,10561
NaN,-,-,-,-,-,-,-,-,-,-,...,17325,17439,15793,14890,14570,14156,14172,13559,13726,14118
NaN,-,-,-,-,-,-,-,-,-,-,...,6262,6512,6484,6278,6799,6347,6458,6954,6750,6708
NaN,-,-,-,-,-,-,-,-,-,-,...,-,-,-,-,1015,1095,1497,2228,2812,3195
NaN,95388,95423,90470,107177,107518,207641,144524,154021,164771,168188,...,323515,317952,285963,272407,254175,246464,249701,239557,234357,234448
NaN,34563,38588,32497,40922,42649,74065,52651,52262,56527,47207,...,24484,24376,22798,21559,21324,19954,20174,20030,19877,19761
NaN,37625,39139,29513,36260,40154,72525,50313,50472,70017,50801,...,15672,15612,14561,13753,13624,13209,13291,13197,13032,12961
NaN,67033,63565,40803,53320,61038,115149,81692,76119,83411,77054,...,26659,26072,23115,21674,20638,19680,19841,19144,18726,18582
NaN,71785,63688,39692,55168,60827,118342,83263,75212,84412,82681,...,23012,21188,18777,17600,17180,15495,15902,14830,14993,14930
NaN,75871,70920,41044,59763,69361,125081,94332,87967,102247,93911,...,20442,19007,17766,16298,15818,14595,14607,13884,14568,13665
NaN,59129,63329,41532,61129,67374,124398,87716,79224,88334,79620,...,20524,19784,18395,17319,17694,16561,16796,16478,16087,15681
NaN,40077,43468,27238,39862,44321,81239,64652,52106,61217,53422,...,19890,19615,18680,18329,18230,16841,17144,16781,17169,17312
NaN,3881,4885,2339,7411,8470,14272,9900,10103,10757,9557,...,6100,5955,5632,5268,5612,5410,5739,6351,6634,7209

In [47]:
migrationDF2.index

Index([nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan],
      dtype='object', name='전출지별')

In [48]:
migrationDF2.index = [
 '전국',
 '서울특별시',
 '부산광역시',
 '대구광역시',
 '인천광역시',
 '광주광역시',
 '대전광역시',
 '울산광역시',
 '세종특별자치시',
 '경기도',
 '강원도',
 '충청북도',
 '충청남도',
 '전라북도',
 '전라남도',
 '경상북도',
 '경상남도',
 '제주특별자치도']

In [49]:
migrationDF2

,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
전국,1742813,1671705,1349333,1831858,2050392,3396662,2756510,2893403,3307439,2589667,...,2025358,1873188,1733015,1721748,1555281,1520090,1573594,1589431,1515602,1472937
서울특별시,1232619,1158556,985945,1345508,1511726,2401970,2041724,2212213,2518286,1883742,...,1426213,1286855,1199708,1215122,1069300,1053008,1098023,1129529,1061915,1018807
부산광역시,24263,30144,18260,24251,30284,59914,43416,42685,48142,39673,...,25249,24459,23116,23016,21437,19621,20616,19441,19236,19460
대구광역시,-,-,-,-,-,-,-,-,-,-,...,14824,15469,13915,13310,13838,13673,13735,13038,12802,13011
인천광역시,-,-,-,-,-,-,-,-,-,-,...,40479,38858,35670,33008,32216,33017,34380,33570,32486,32528
광주광역시,-,-,-,-,-,-,-,-,-,-,...,14708,14035,12642,11917,11811,10964,11518,10860,10432,10561
대전광역시,-,-,-,-,-,-,-,-,-,-,...,17325,17439,15793,14890,14570,14156,14172,13559,13726,14118
울산광역시,-,-,-,-,-,-,-,-,-,-,...,6262,6512,6484,6278,6799,6347,6458,6954,6750,6708
세종특별자치시,-,-,-,-,-,-,-,-,-,-,...,-,-,-,-,1015,1095,1497,2228,2812,3195
경기도,95388,95423,90470,107177,107518,207641,144524,154021,164771,168188,...,323515,317952,285963,272407,254175,246464,249701,239557,234357,234448
강원도,34563,38588,32497,40922,42649,74065,52651,52262,56527,47207,...,24484,24376,22798,21559,21324,19954,20174,20030,19877,19761
충청북도,37625,39139,29513,36260,40154,72525,50313,50472,70017,50801,...,15672,15612,14561,13753,13624,13209,13291,13197,13032,12961
충청남도,67033,63565,40803,53320,61038,115149,81692,76119,83411,77054,...,26659,26072,23115,21674,20638,19680,19841,19144,18726,18582
전라북도,71785,63688,39692,55168,60827,118342,83263,75212,84412,82681,...,23012,21188,18777,17600,17180,15495,15902,14830,14993,14930
전라남도,75871,70920,41044,59763,69361,125081,94332,87967,102247,93911,...,20442,19007,17766,16298,15818,14595,14607,13884,14568,13665
경상북도,59129,63329,41532,61129,67374,124398,87716,79224,88334,79620,...,20524,19784,18395,17319,17694,16561,16796,16478,16087,15681
경상남도,40077,43468,27238,39862,44321,81239,64652,52106,61217,53422,...,19890,19615,18680,18329,18230,16841,17144,16781,17169,17312
제주특별자치도,3881,4885,2339,7411,8470,14272,9900,10103,10757,9557,...,6100,5955,5632,5268,5612,5410,5739,6351,6634,7209

In [74]:
migrationDF2 = migrationDF2.loc['부산광역시' : ]

In [75]:
migrationDF2

,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
부산광역시,24263,30144,18260,24251,30284,59914,43416,42685,48142,39673,...,25249,24459,23116,23016,21437,19621,20616,19441,19236,19460
대구광역시,0,0,0,0,0,0,0,0,0,0,...,14824,15469,13915,13310,13838,13673,13735,13038,12802,13011
인천광역시,0,0,0,0,0,0,0,0,0,0,...,40479,38858,35670,33008,32216,33017,34380,33570,32486,32528
광주광역시,0,0,0,0,0,0,0,0,0,0,...,14708,14035,12642,11917,11811,10964,11518,10860,10432,10561
대전광역시,0,0,0,0,0,0,0,0,0,0,...,17325,17439,15793,14890,14570,14156,14172,13559,13726,14118
울산광역시,0,0,0,0,0,0,0,0,0,0,...,6262,6512,6484,6278,6799,6347,6458,6954,6750,6708
세종특별자치시,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1015,1095,1497,2228,2812,3195
경기도,95388,95423,90470,107177,107518,207641,144524,154021,164771,168188,...,323515,317952,285963,272407,254175,246464,249701,239557,234357,234448
강원도,34563,38588,32497,40922,42649,74065,52651,52262,56527,47207,...,24484,24376,22798,21559,21324,19954,20174,20030,19877,19761
충청북도,37625,39139,29513,36260,40154,72525,50313,50472,70017,50801,...,15672,15612,14561,13753,13624,13209,13291,13197,13032,12961
충청남도,67033,63565,40803,53320,61038,115149,81692,76119,83411,77054,...,26659,26072,23115,21674,20638,19680,19841,19144,18726,18582
전라북도,71785,63688,39692,55168,60827,118342,83263,75212,84412,82681,...,23012,21188,18777,17600,17180,15495,15902,14830,14993,14930
전라남도,75871,70920,41044,59763,69361,125081,94332,87967,102247,93911,...,20442,19007,17766,16298,15818,14595,14607,13884,14568,13665
경상북도,59129,63329,41532,61129,67374,124398,87716,79224,88334,79620,...,20524,19784,18395,17319,17694,16561,16796,16478,16087,15681
경상남도,40077,43468,27238,39862,44321,81239,64652,52106,61217,53422,...,19890,19615,18680,18329,18230,16841,17144,16781,17169,17312
제주특별자치도,3881,4885,2339,7411,8470,14272,9900,10103,10757,9557,...,6100,5955,5632,5268,5612,5410,5739,6351,6634,7209

#### 다중 인덱스 처리

In [107]:
# (1)
migrationDF = pd.read_excel(filename, index_col = [0, 1])
migrationDF

                     1970      1971      1972      1973      1974      1975  \
전출지별    전입지별
전출지별    전입지별     이동자수 (명)  이동자수 (명)  이동자수 (명)  이동자수 (명)  이동자수 (명)  이동자수 (명)
전국      전국        4046536   4210164   3687938   4860418   5297969   9011440
        서울특별시     1742813   1671705   1349333   1831858   2050392   3396662
        부산광역시      448577    389797    362202    482061    680984    805979
        대구광역시           -         -         -         -         -         -
...                   ...       ...       ...       ...       ...       ...
제주특별자치도 전라북도          139       202       141       210       219       415
        전라남도          631       965       857       952      1133      2808
        경상북도          374       619       468       576       625      1123
        경상남도          474       479       440       571      1208      1517
        제주특별자치도      9290     12427     12210     16158     19580     34221

                     1976      1977      1978      1979  ...      2008  \
전출지별    전입지별                                             ...
전출지별    전입지별     이동자수 (명)  이동자수 (명)  이동자수 (명)  이동자수 (명)  ...  이동자수 (명)
전국      전국        6773250   7397623   8410276   7324380  ...   8808256
        서울특별시     2756510   2893403   3307439   2589667  ...   2025358
        부산광역시      724664    785117    895337    809483  ...    514502
        대구광역시           -         -         -         -  ...    409938
...                   ...       ...       ...       ...  ...       ...
제주특별자치도 전라북도          392       408       363       354  ...       668
        전라남도         2608      2652      2722      2178  ...      1143
        경상북도         1141      1004      1009       818  ...       761
        경상남도          863      1122      1331      1290  ...      1517
        제주특별자치도     23291     31028     30719     30064  ...     59564

                     2009      2010      2011      2012      2013      2014  \
전출지별    전입지별
전출지별    전입지별     이동자수 (명)  이동자수 (명)  이동자수 (명)  이동자수 (명)  이동자수 (명)  이동자수 (명)
전국      전국        8487275   8226594   8127195   7506691   7411784   7629098
        서울특별시     1873188   1733015   1721748   1555281   1520090   1573594
        부산광역시      519310    519334    508043    461042    478451    485710
        대구광역시      398626    370817    370563    348642    351873    350213
...                   ...       ...       ...       ...       ...       ...
제주특별자치도 전라북도          579       672       561       551       516       609
        전라남도         1123      1002      1026       966      1001       928
        경상북도          704       738       756       699       781       728
        경상남도         1474      1324      1367      1227      1278      1223
        제주특별자치도     55673     55507     59846     54280     60607     59673

                     2015      2016      2017
전출지별    전입지별
전출지별    전입지별     이동자수 (명)  이동자수 (명)  이동자수 (명)
전국      전국        7755286   7378430   7154226
        서울특별시     1589431   1515602   1472937
        부산광역시      507031    459015    439073
        대구광역시      351424    328228    321182
...                   ...       ...       ...
제주특별자치도 전라북도          683       733       768
        전라남도         1062      1127      1102
        경상북도          903       931       994
        경상남도         1500      1448      1501
        제주특별자치도     59036     66444     63275

[325 rows x 48 columns]

In [110]:
migrationDF.index

MultiIndex([(   '전출지별',    '전입지별'),
            (     '전국',      '전국'),
            (     '전국',   '서울특별시'),
            (     '전국',   '부산광역시'),
            (     '전국',   '대구광역시'),
            (     '전국',   '인천광역시'),
            (     '전국',   '광주광역시'),
            (     '전국',   '대전광역시'),
            (     '전국',   '울산광역시'),
            (     '전국', '세종특별자치시'),
            ...
            ('제주특별자치도', '세종특별자치시'),
            ('제주특별자치도',     '경기도'),
            ('제주특별자치도',     '강원도'),
            ('제주특별자치도',    '충청북도'),
            ('제주특별자치도',    '충청남도'),
            ('제주특별자치도',    '전라북도'),
            ('제주특별자치도',    '전라남도'),
            ('제주특별자치도',    '경상북도'),
            ('제주특별자치도',    '경상남도'),
            ('제주특별자치도', '제주특별자치도')],
           names=['전출지별', '전입지별'], length=325)

In [111]:
# (2)
migrationDF = pd.read_excel(filename)
#migrationDF.fillna(method = 'ffill', inplace = True)
migrationDF = migrationDF.ffill()

migrationDF.set_index(['전출지별', '전입지별'], inplace = True)
migrationDF.index

MultiIndex([(   '전출지별',    '전입지별'),
            (     '전국',      '전국'),
            (     '전국',   '서울특별시'),
            (     '전국',   '부산광역시'),
            (     '전국',   '대구광역시'),
            (     '전국',   '인천광역시'),
            (     '전국',   '광주광역시'),
            (     '전국',   '대전광역시'),
            (     '전국',   '울산광역시'),
            (     '전국', '세종특별자치시'),
            ...
            ('제주특별자치도', '세종특별자치시'),
            ('제주특별자치도',     '경기도'),
            ('제주특별자치도',     '강원도'),
            ('제주특별자치도',    '충청북도'),
            ('제주특별자치도',    '충청남도'),
            ('제주특별자치도',    '전라북도'),
            ('제주특별자치도',    '전라남도'),
            ('제주특별자치도',    '경상북도'),
            ('제주특별자치도',    '경상남도'),
            ('제주특별자치도', '제주특별자치도')],
           names=['전출지별', '전입지별'], length=325)

In [55]:
migrationDF2.replace('-', 0, inplace = True)

C:\Users\xnnly\AppData\Local\Temp\ipykernel_7912\3763789948.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  migrationDF2.replace('-', 0, inplace = True)

In [68]:
len(migrationDF2.index)

16

In [70]:
list(migrationDF2.index)

['부산광역시',
 '대구광역시',
 '인천광역시',
 '광주광역시',
 '대전광역시',
 '울산광역시',
 '세종특별자치시',
 '경기도',
 '강원도',
 '충청북도',
 '충청남도',
 '전라북도',
 '전라남도',
 '경상북도',
 '경상남도',
 '제주특별자치도']

In [112]:
migrationDF2

,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
부산광역시,24263,30144,18260,24251,30284,59914,43416,42685,48142,39673,...,25249,24459,23116,23016,21437,19621,20616,19441,19236,19460
대구광역시,0,0,0,0,0,0,0,0,0,0,...,14824,15469,13915,13310,13838,13673,13735,13038,12802,13011
인천광역시,0,0,0,0,0,0,0,0,0,0,...,40479,38858,35670,33008,32216,33017,34380,33570,32486,32528
광주광역시,0,0,0,0,0,0,0,0,0,0,...,14708,14035,12642,11917,11811,10964,11518,10860,10432,10561
대전광역시,0,0,0,0,0,0,0,0,0,0,...,17325,17439,15793,14890,14570,14156,14172,13559,13726,14118
울산광역시,0,0,0,0,0,0,0,0,0,0,...,6262,6512,6484,6278,6799,6347,6458,6954,6750,6708
세종특별자치시,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1015,1095,1497,2228,2812,3195
경기도,95388,95423,90470,107177,107518,207641,144524,154021,164771,168188,...,323515,317952,285963,272407,254175,246464,249701,239557,234357,234448
강원도,34563,38588,32497,40922,42649,74065,52651,52262,56527,47207,...,24484,24376,22798,21559,21324,19954,20174,20030,19877,19761
충청북도,37625,39139,29513,36260,40154,72525,50313,50472,70017,50801,...,15672,15612,14561,13753,13624,13209,13291,13197,13032,12961
충청남도,67033,63565,40803,53320,61038,115149,81692,76119,83411,77054,...,26659,26072,23115,21674,20638,19680,19841,19144,18726,18582
전라북도,71785,63688,39692,55168,60827,118342,83263,75212,84412,82681,...,23012,21188,18777,17600,17180,15495,15902,14830,14993,14930
전라남도,75871,70920,41044,59763,69361,125081,94332,87967,102247,93911,...,20442,19007,17766,16298,15818,14595,14607,13884,14568,13665
경상북도,59129,63329,41532,61129,67374,124398,87716,79224,88334,79620,...,20524,19784,18395,17319,17694,16561,16796,16478,16087,15681
경상남도,40077,43468,27238,39862,44321,81239,64652,52106,61217,53422,...,19890,19615,18680,18329,18230,16841,17144,16781,17169,17312
제주특별자치도,3881,4885,2339,7411,8470,14272,9900,10103,10757,9557,...,6100,5955,5632,5268,5612,5410,5739,6351,6634,7209

In [72]:
migrationDF2.idxmax()

1970    경기도
1971    경기도
1972    경기도
1973    경기도
1974    경기도
1975    경기도
1976    경기도
1977    경기도
1978    경기도
1979    경기도
1980    경기도
1981    경기도
1982    경기도
1983    경기도
1984    경기도
1985    경기도
1986    경기도
1987    경기도
1988    경기도
1989    경기도
1990    경기도
1991    경기도
1992    경기도
1993    경기도
1994    경기도
1995    경기도
1996    경기도
1997    경기도
1998    경기도
1999    경기도
2000    경기도
2001    경기도
2002    경기도
2003    경기도
2004    경기도
2005    경기도
2006    경기도
2007    경기도
2008    경기도
2009    경기도
2010    경기도
2011    경기도
2012    경기도
2013    경기도
2014    경기도
2015    경기도
2016    경기도
2017    경기도
dtype: object

In [78]:
len(set(list(migrationDF2.idxmax())))

1

In [77]:
max(migrationDF2.loc['경기도'])

410274

In [73]:
migrationDF2.idxmin()

1970      대구광역시
1971      대구광역시
1972      대구광역시
1973      대구광역시
1974      대구광역시
1975      대구광역시
1976      대구광역시
1977      대구광역시
1978      대구광역시
1979      대구광역시
1980      대구광역시
1981      광주광역시
1982      광주광역시
1983      광주광역시
1984      광주광역시
1985      광주광역시
1986      대전광역시
1987      대전광역시
1988      대전광역시
1989      울산광역시
1990      울산광역시
1991      울산광역시
1992      울산광역시
1993      울산광역시
1994      울산광역시
1995      울산광역시
1996      울산광역시
1997    세종특별자치시
1998    세종특별자치시
1999    세종특별자치시
2000    세종특별자치시
2001    세종특별자치시
2002    세종특별자치시
2003    세종특별자치시
2004    세종특별자치시
2005    세종특별자치시
2006    세종특별자치시
2007    세종특별자치시
2008    세종특별자치시
2009    세종특별자치시
2010    세종특별자치시
2011    세종특별자치시
2012    세종특별자치시
2013    세종특별자치시
2014    세종특별자치시
2015    세종특별자치시
2016    세종특별자치시
2017    세종특별자치시
dtype: object

In [91]:
migrationDF3 = migrationDF.xs('제주특별자치도', level = 1)

In [92]:
migrationDF3

,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
전출지별,,,,,,,,,,,,,,,,,,,,,
NaN,14551,19064,19404,25845,29176,50939,36273,43287,45012,44965,...,80124,76575,77224,82708,79501,88851,92508,97580,106825,105027
NaN,1039,1325,1617,2456,2261,3440,3623,3551,3937,4261,...,5473,5332,5714,6133,6954,7828,9031,10434,10465,10404
NaN,766,855,1007,1229,1132,1861,1832,1875,1998,2127,...,1940,1926,1780,1875,1928,1996,2131,2735,2948,2993
NaN,-,-,-,-,-,-,-,-,-,-,...,618,664,631,643,773,847,1061,1317,1394,1631
NaN,-,-,-,-,-,-,-,-,-,-,...,1094,1125,1252,1232,1436,1720,1941,2276,2375,2713
NaN,-,-,-,-,-,-,-,-,-,-,...,770,774,711,761,769,822,1017,1156,1129,1191
NaN,-,-,-,-,-,-,-,-,-,-,...,423,488,452,482,540,685,739,967,884,835
NaN,-,-,-,-,-,-,-,-,-,-,...,355,347,355,329,394,400,492,681,744,815
NaN,-,-,-,-,-,-,-,-,-,-,...,-,-,-,-,39,41,63,139,164,263
NaN,388,430,572,680,695,1331,1096,935,1091,1439,...,4619,4976,5435,5969,6540,7557,9078,10584,10937,11255
NaN,245,188,269,406,283,504,376,324,333,312,...,467,511,482,560,590,686,814,839,934,945
NaN,71,111,147,161,136,246,162,155,213,202,...,401,408,486,469,552,640,842,838,907,1009
NaN,198,275,243,367,371,707,459,415,465,527,...,613,608,731,755,777,862,915,1094,1163,1270
NaN,330,387,434,429,391,1005,503,539,588,524,...,634,580,558,608,635,725,824,1060,1117,1114
NaN,1442,2182,2063,2701,3231,5443,3234,2943,3167,3131,...,1020,996,1029,961,1062,1048,1174,1341,1400,1424
NaN,292,487,471,513,514,986,849,704,754,744,...,779,764,787,789,839,914,965,1231,1376,1357
NaN,487,397,371,630,565,1160,848,810,903,942,...,1354,1403,1314,1296,1393,1473,1748,1852,2444,2533
NaN,9290,12427,12210,16158,19580,34221,23291,31028,30719,30064,...,59564,55673,55507,59846,54280,60607,59673,59036,66444,63275

In [83]:
migrationDF3.index

Index(['전국', '서울특별시', '부산광역시', '대구광역시', '인천광역시', '광주광역시', '대전광역시', '울산광역시',
       '세종특별자치시', '경기도', '강원도', '충청북도', '충청남도', '전라북도', '전라남도', '경상북도', '경상남도',
       '제주특별자치도'],
      dtype='object', name='전출지별')

In [93]:
migrationDF3.index = [
 '전국',
 '서울특별시',
 '부산광역시',
 '대구광역시',
 '인천광역시',
 '광주광역시',
 '대전광역시',
 '울산광역시',
 '세종특별자치시',
 '경기도',
 '강원도',
 '충청북도',
 '충청남도',
 '전라북도',
 '전라남도',
 '경상북도',
 '경상남도',
 '제주특별자치도']

In [94]:
migrationDF3

,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
전국,14551,19064,19404,25845,29176,50939,36273,43287,45012,44965,...,80124,76575,77224,82708,79501,88851,92508,97580,106825,105027
서울특별시,1039,1325,1617,2456,2261,3440,3623,3551,3937,4261,...,5473,5332,5714,6133,6954,7828,9031,10434,10465,10404
부산광역시,766,855,1007,1229,1132,1861,1832,1875,1998,2127,...,1940,1926,1780,1875,1928,1996,2131,2735,2948,2993
대구광역시,-,-,-,-,-,-,-,-,-,-,...,618,664,631,643,773,847,1061,1317,1394,1631
인천광역시,-,-,-,-,-,-,-,-,-,-,...,1094,1125,1252,1232,1436,1720,1941,2276,2375,2713
광주광역시,-,-,-,-,-,-,-,-,-,-,...,770,774,711,761,769,822,1017,1156,1129,1191
대전광역시,-,-,-,-,-,-,-,-,-,-,...,423,488,452,482,540,685,739,967,884,835
울산광역시,-,-,-,-,-,-,-,-,-,-,...,355,347,355,329,394,400,492,681,744,815
세종특별자치시,-,-,-,-,-,-,-,-,-,-,...,-,-,-,-,39,41,63,139,164,263
경기도,388,430,572,680,695,1331,1096,935,1091,1439,...,4619,4976,5435,5969,6540,7557,9078,10584,10937,11255
강원도,245,188,269,406,283,504,376,324,333,312,...,467,511,482,560,590,686,814,839,934,945
충청북도,71,111,147,161,136,246,162,155,213,202,...,401,408,486,469,552,640,842,838,907,1009
충청남도,198,275,243,367,371,707,459,415,465,527,...,613,608,731,755,777,862,915,1094,1163,1270
전라북도,330,387,434,429,391,1005,503,539,588,524,...,634,580,558,608,635,725,824,1060,1117,1114
전라남도,1442,2182,2063,2701,3231,5443,3234,2943,3167,3131,...,1020,996,1029,961,1062,1048,1174,1341,1400,1424
경상북도,292,487,471,513,514,986,849,704,754,744,...,779,764,787,789,839,914,965,1231,1376,1357
경상남도,487,397,371,630,565,1160,848,810,903,942,...,1354,1403,1314,1296,1393,1473,1748,1852,2444,2533
제주특별자치도,9290,12427,12210,16158,19580,34221,23291,31028,30719,30064,...,59564,55673,55507,59846,54280,60607,59673,59036,66444,63275

In [97]:
migrationDF3 = migrationDF3.loc['서울특별시' : '경상남도']

In [98]:
migrationDF3

,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
서울특별시,1039,1325,1617,2456,2261,3440,3623,3551,3937,4261,...,5473,5332,5714,6133,6954,7828,9031,10434,10465,10404
부산광역시,766,855,1007,1229,1132,1861,1832,1875,1998,2127,...,1940,1926,1780,1875,1928,1996,2131,2735,2948,2993
대구광역시,-,-,-,-,-,-,-,-,-,-,...,618,664,631,643,773,847,1061,1317,1394,1631
인천광역시,-,-,-,-,-,-,-,-,-,-,...,1094,1125,1252,1232,1436,1720,1941,2276,2375,2713
광주광역시,-,-,-,-,-,-,-,-,-,-,...,770,774,711,761,769,822,1017,1156,1129,1191
대전광역시,-,-,-,-,-,-,-,-,-,-,...,423,488,452,482,540,685,739,967,884,835
울산광역시,-,-,-,-,-,-,-,-,-,-,...,355,347,355,329,394,400,492,681,744,815
세종특별자치시,-,-,-,-,-,-,-,-,-,-,...,-,-,-,-,39,41,63,139,164,263
경기도,388,430,572,680,695,1331,1096,935,1091,1439,...,4619,4976,5435,5969,6540,7557,9078,10584,10937,11255
강원도,245,188,269,406,283,504,376,324,333,312,...,467,511,482,560,590,686,814,839,934,945
충청북도,71,111,147,161,136,246,162,155,213,202,...,401,408,486,469,552,640,842,838,907,1009
충청남도,198,275,243,367,371,707,459,415,465,527,...,613,608,731,755,777,862,915,1094,1163,1270
전라북도,330,387,434,429,391,1005,503,539,588,524,...,634,580,558,608,635,725,824,1060,1117,1114
전라남도,1442,2182,2063,2701,3231,5443,3234,2943,3167,3131,...,1020,996,1029,961,1062,1048,1174,1341,1400,1424
경상북도,292,487,471,513,514,986,849,704,754,744,...,779,764,787,789,839,914,965,1231,1376,1357
경상남도,487,397,371,630,565,1160,848,810,903,942,...,1354,1403,1314,1296,1393,1473,1748,1852,2444,2533

In [99]:
migrationDF3.replace('-', 0, inplace = True)

C:\Users\xnnly\AppData\Local\Temp\ipykernel_7912\1122682167.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  migrationDF3.replace('-', 0, inplace = True)

In [100]:
migrationDF3.idxmax()

1970     전라남도
1971     전라남도
1972     전라남도
1973     전라남도
1974     전라남도
1975     전라남도
1976    서울특별시
1977    서울특별시
1978    서울특별시
1979    서울특별시
1980    서울특별시
1981    서울특별시
1982    서울특별시
1983    서울특별시
1984    서울특별시
1985    서울특별시
1986    서울특별시
1987    서울특별시
1988    서울특별시
1989    서울특별시
1990    서울특별시
1991    서울특별시
1992    서울특별시
1993    서울특별시
1994    서울특별시
1995    서울특별시
1996    서울특별시
1997    서울특별시
1998    서울특별시
1999    서울특별시
2000    서울특별시
2001    서울특별시
2002    서울특별시
2003    서울특별시
2004    서울특별시
2005    서울특별시
2006    서울특별시
2007    서울특별시
2008    서울특별시
2009    서울특별시
2010    서울특별시
2011    서울특별시
2012    서울특별시
2013    서울특별시
2014      경기도
2015      경기도
2016      경기도
2017      경기도
dtype: object

In [101]:
len(set(list(migrationDF3.idxmax())))

3

In [104]:
max(migrationDF3.loc['전라남도'])

5443

In [105]:
max(migrationDF3.loc['서울특별시'])

10465

In [106]:
max(migrationDF3.loc['경기도'])

11255